<!DOCTYPE html>
<html>
<head>
		<title>Paradyme</title>
	
		<script type="text/javascript" src="js/jquery.js"></script>

		<script type="text/javascript" src="js/openclose.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<!--<link rel="stylesheet" type="text/css" href="css/btn.css">
		<link rel="stylesheet" type="text/css" href="css/modal.css">-->
		
</head>
<body>


<header class="main">
	<div class="pane">
		<div class="logo"></div>
		<h1>Paradyme</h1>
		<a class="button button-primary" href="home">View the Library</a>
		<a class="button">Contact Us</a>
	<div>
</header>


</body>
</html>